In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('data/Fish.csv')
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [22]:
df['Species'].unique()   # 데이터 안에 어떤 요소가 있는지 확인 가능 unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [23]:
fish_input = df[['Weight', 'Length2', 'Length3', 'Height', 'Width']]
# fish_input.head()

In [24]:
fish_target = df[['Species']]

In [87]:
from sklearn.model_selection import train_test_split
# train_test_split : 단일 호출로 묶어 데이터를 분할

train_input, test_input, train_target, test_target = \
train_test_split(fish_input, fish_target)

In [86]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [32]:
from sklearn.neighbors import KNeighborsClassifier

kn = KNeighborsClassifier()
kn.fit(train_scaled, train_target)

print(kn.score(train_scaled, train_target))
print(kn.score(test_scaled, test_target))

0.8403361344537815
0.775

C:\Users\1-01\Desktop\DAMF2\ml\venv\Lib\site-packages\sklearn\neighbors\_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [38]:
kn.predict_proba(test_scaled) # 나름대로 확률계산

array([[1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 1. , 0. ],
       [0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 1. , 0. , 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.2, 0. , 0.2],
       [0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 1. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.4, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.4, 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.4, 0. , 0.6, 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [0. , 0.6, 0.2, 0. , 0.2, 0. , 0. ],
       [0.4, 0.6, 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.4, 0. , 0.6, 0. , 0. ],
       [0. , 0. , 1. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.4, 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0. , 0. , 0.4],
       [0. , 0. , 1. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.4, 0. , 0. ],
       [0. , 0. , 0.4, 0. , 0.6, 0. , 0. ],
       [0. , 0. , 0.2, 0. , 0.2, 0.6, 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.4, 0. , 0.6, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ]])

## 로지스틱 회귀

- 분류모델, 이진분류
- 시그모이드 함수(로지스틱 함수)
- z값 만들어서 0~1사이의 값을 만들고 확률을 빼는 것이 목표 (다중분류가 되었을때는 소프트맥스 함수 사용)

In [78]:
bream_smelt_indexes = (train_target == 'Bream') | (train_target == 'Smelt') 

train_bs = train_scaled [bream_smelt_indexes['Species']]
target_bs = train_target[bream_smelt_indexes['Species']]
target_bs

    Species
2     Bream
156   Smelt
153   Smelt
15    Bream
29    Bream
22    Bream
9     Bream
26    Bream
7     Bream
34    Bream
1     Bream
154   Smelt
21    Bream
148   Smelt
14    Bream
13    Bream
149   Smelt
17    Bream
18    Bream
152   Smelt
146   Smelt
157   Smelt
33    Bream
150   Smelt
10    Bream
145   Smelt
28    Bream
5     Bream
23    Bream
16    Bream
19    Bream
151   Smelt
11    Bream
158   Smelt
155   Smelt

In [79]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_bs, target_bs)

lr.predict(train_bs[:5])   # 앞에 5개만 뽑아서 예측해봐
lr.predict_proba(train_bs[:5]).round(3)   # 앞에 5개를 확률로서의 정보를 보여줌

C:\Users\1-01\Desktop\DAMF2\ml\venv\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[0.932, 0.068],
       [0.029, 0.971],
       [0.025, 0.975],
       [0.991, 0.009],
       [0.999, 0.001]])

In [80]:
lr.coef_

array([[-0.44623138, -0.58073732, -0.66371329, -1.03669673, -0.76399512]])

In [81]:
lr = LogisticRegression()
lr.fit(train_scaled, train_target)

print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.8235294117647058
0.825

C:\Users\1-01\Desktop\DAMF2\ml\venv\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [82]:
lr.predict_proba(test_scaled[:5]).round(3)

array([[0.959, 0.011, 0.006, 0.003, 0.004, 0.   , 0.017],
       [0.   , 0.03 , 0.055, 0.   , 0.031, 0.883, 0.001],
       [0.106, 0.001, 0.719, 0.049, 0.02 , 0.   , 0.105],
       [0.008, 0.107, 0.498, 0.022, 0.29 , 0.034, 0.04 ],
       [0.547, 0.102, 0.142, 0.017, 0.094, 0.   , 0.098]])

In [83]:
lr.coef_.shape

(7, 5)

## 소프트맥스 함수

- 데이터가 여러개일 때 그 총합을 0부터 만들어주는 친구.